requests
beautifulsoup4
Flask
numpy
keras
tensorflow
lxml
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
